<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="MyClient"
  contract="Compucare.Enquire.Common.Communication.Interfaces.IStatusService"
  binding="netTcpBinding"
  address="net.tcp://localhost:8385/EnquireServer/StatusService" />
    </client>
  </system.serviceModel>
</configuration>